
$theme-colors: (
  "light": #ffcb05,
  "dark": #00274c
);
@import "../bootstrap/scss/bootstrap";

section {
  padding-top: 30px;

  &:first-of-type {
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;

    .btn {
      margin: 5px;
    }
  }

  &:nth-of-type(2) {
    margin-top: 30px;
  }

  &:last-of-type {
    padding-bottom: 60px;
  }
}

.badge {
  font-size: 100%;
  margin: 5px;
  white-space: normal;
}

cite {
  font-style: normal;
}

.publications {

  padding-left: 20px;

  li {
      text-indent: -20px;
      padding-left: 20px;
      margin-bottom: 20px;
  }

  .publication-link {
      margin-left: 7px;
  }
}

.author-pmsinger {
  font-weight: bold;
}

footer {
  min-height: 100px;
  color: white;
}
